{% extends "base.html" %}
{% block title %} {{ escape(current_user["name"]) }}'s home {% end %}
{% block content %}

    {% if current_user %}
      <p><img src='http://graph.facebook.com/{{ current_user["id"] }}/picture?type=square'/></p>
      <p>Hello, {{ escape(current_user["name"]) }}</p>
    {% end %}
    <ul>
    <li> <a href="https://api.moves-app.com/oauth/v1/authorize?response_type=code&client_id=vyph3myalMFdUp70cBMuPHjyC2NSPjy0&scope=location">Get Moves report</a></li>
    </ul>
    <div>
    {% if moves_summary %}
    {{ moves_summary}}
    {% end%}
    </div>
{% end %}