<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-41165943-1', 'guugle.me');
ga('send', 'pageview');

</script>	
<script type="text/javascript">


google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawChart);
	function drawChart() {
	    var data = google.visualization.arrayToDataTable([
	      ['Year', 'Sales', 'Expenses'],
	      ['2004',  1000,      400],
	      ['2005',  1170,      460],
	      ['2006',  660,       1120],
	      ['2007',  1030,      540]
	    ]);
	
	    var options = {
	      title: 'Company Performance'
	    };
	
	    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
	    chart.draw(data, options);
	  };
	  
	

</script>
<title>
Guugle Test
</title>

<!-- Meta Tags -->
<meta charset="utf-8">

<!-- CSS -->
<!-- link href="/static/css/structure.css" rel="stylesheet">
<link href="/static/css/form.css" rel="stylesheet" -->

<!-- JavaScript -->
<!--script src="/static/scripts/wufoo.js"></script-->
</head>

<body id="public">
<div id="container" class="ltr">

<h1 id="logo">
<a href="#" title="Powered by Wikilife">Guugle Test</a>
</h1>


<div id="chart_div" style="width: 900px; height: 500px;"></div>


</div><!--container-->

</body>
</html>